.container {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.display {
  padding: 10px 0;
  min-height: 80px;
  max-width: 400px;
  word-wrap: break-word;
  text-align: right;
  font-size: 1.8rem;
  color: var(--text-color);
}

.buttons {
}

.row {
  display: flex;
}

button {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--accent-purple);
  border: none;
  border-radius: 10px;
  margin: 2px;
  width: 100px;
  height: 60px;
  font-size: 1em;
  font-weight: bold;
}

button:hover,
button:focus {
  opacity: 0.9;
}

.grow {
  flex-grow: 1;
}

.accent-pink {
  background-color: var(--accent-pink);
}

.accent-green {
  background-color: var(--accent-green);
}

.accent-purple {
  background-color: var(--accent-purple);
}
